<div class="contHome">
    <div class="contleft">
        <h1>Registro Actual</h1>
        <div class="count unavailable">
            <h3>Vehiculos actuales</h3>
            <h3>5</h3>
        </div>
        <div class="count available">
            <h3>Espacios disponibles</h3>
            <h3>20</h3>
        </div>
    </div>
    <div class="contMain">
        <div class="contgen">
            <h3 class="namePlace">Universidad de cundinamarca</h3>
            <h1 class="h1hour">{{currentlytDate | date:'mediumTime'}}</h1>
            <small class="textDate">{{currentlytDate | date:'fullDate'}}</small>
        </div>
        <div class="infoReg">
            <label for="inputM">Matricula</label> <input type="text" name="inputM" class="inputM">
            <a class="aInfoD" href="infoDriver">Ver Datos del Conductor</a>
        </div>
        
        <div class="contbtns">
            <button class="btn btn_In">Ingreso</button>
            <button class="btn btn_Out">Salida</button>
        </div>
        
    </div>
    
</div>

