<div class="contHome">
    <div class="cont">
        <h1 class="title">Registro del conductor</h1>
        <div class="contInfo">
            <img class="driverPhoto" src="../../../assets/userphoto.png" alt="">
            <div class="info">
                <small class="idCode" hidden><span class="lab">Codigo:</span> Codigo: 0000</small>
                <h1 class="nameDriver"><span class="lab">Nombre:</span> joe Doe</h1>
                
                <small class="email"><span class="lab">Correo:</span>ejemplo@correo.com</small>
                <small class="idNumer"><span class="lab">numero de documento o codigo:</span>0000000000</small>
                <small class="numberPlate"> <span class="lab">matricula:</span>aaa000 </small>
                <small class="brand"><span class="lab">Marca vehiculo:</span>ford</small>
                <small class="model"><span class="lab">Modelo:</span>mustang</small>
                <small class="obs"><span class="lab">observaciones:</span>color, daños etc </small>
            </div>
        </div>
    </div>
    
    
   <a href="home"><button class="btnBack">Regresar</button></a> 
</div>
